<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="jqm_protoype">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>JQM Angular Prototype</title>
		
		<meta name="Keywords" content="" />
		<meta name="Description" content="" />
		<meta name="Author" content="Lee McNeil" />
		<meta name="Copyright" content="www.miniondome.com" />
		<meta name="fragment" content="!" />
		
		<!-- Sets initial viewport load and disables zooming  -->
	    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

	    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">

	    <!-- Set Apple icons for when prototype is saved to home screen -->
	    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="css/touch-icons/apple-touch-icon-114x114.png">
	    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="css/touch-icons/apple-touch-icon-72x72.png">
	    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="css/touch-icons/apple-touch-icon-57x57.png">

		<link rel="apple-touch-startup-image" href="images/splash.jpg" /> 

		<link rel="stylesheet" href="css/jquery.mobile-1.2.0-graphite.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
	</head>
	<body class="siteBg">	<!-- Inline Templates (Partials) -->
		<div class="page" data-role="page">
		</div>

<!-- Home template -->
<div class="page ng-cloak" data-role="page" id="home" ng-controller="homeCtrl">
	<div data-role="header" class="status-bar">
	  <div class="status-header-black">{{settings.userType}}</div>
	  <a class="button" data-direction="reverse" ngm-tap="nav('/info')">Info</a>
	  <h1>App Home</h1>
	</div>

	<div class="content">
		<div class="content-padded">
			<div class="homeButton">
				<a ngm-tap="nav('/form')">
					<img src="/images/homeicons/MYMDL.png" alt="Weather"><span>Profile</span>
				</a>
			</div>
			<div class="homeButton">
				<a ngm-tap="nav('/list')">
					<img src="/images/homeicons/bab.png" alt="Weather"><span>List</span>
				</a>
			</div>
			<div class="homeButton">
				<a href="#">
					<img src="/images/homeicons/weather.png" alt="Weather"><span>Button</span>
				</a>
			</div>
			<div class="homeButton">
				<a href="#">
					<img src="/images/homeicons/events.png" alt="Weather"><span>Button</span>
				</a>
			</div>
			<div class="homeButton">
				<a href="#">
					<img src="/images/homeicons/offers.png" alt="Weather"><span>Button</span>
				</a>
			</div>



		</div>
	</div>
</div>

<!-- Info template -->
<div class="page ng-cloak" data-role="page" id="info" ng-controller="infoCtrl" data-add-back-btn="true">
	<div data-role="header">
	  <h1 class="title">Info</h1>
	</div>
	
	<div class="content">
		<div class="content-padded">
			<img id="infoLogo" src="/images/angular-logo.jpg">
		</div>
	</div>
</div>

<!-- Form template -->
<div class="page ng-cloak" data-role="page" id="form" ng-controller="formCtrl">
	<div data-role="header" class="status-bar">
	  <div class="status-header-black">{{settings.userType}}</div>
	  <a class="button-prev" ngm-tap="nav('/home')">Home</a>
	  <h1 class="title">General Pane</h1>
	</div>

	<div class="content" >
		<div class="content-padded">
			<form>
			  <div class="input-group">
			    <div class="input-row">
			      <label>Full name</label>
			      <input type="text" placeholder="Mister Ratchet">
			    </div>
			    <div class="input-row">
			      <label>Email</label>
			      <input type="email" placeholder="ratchetframework@gmail.com">
			    </div>
			    <div class="input-row">
			      <label>Username</label>
			      <input type="text" placeholder="goRatchet">
			    </div>
			  </div>
			</form>
		</div>
	</div>
	
	<div data-role="footer" data-id="formFooter" data-position="fixed">
		<div data-role="navbar">
		  <ul class="tab-inner">
		    <li class="tab-item active">
		      <a ngm-tap="nav('/form')" data-icon="grid" class="ui-btn-active">Profile</a>
		    </li>
		    <li class="tab-item">
		    	<a ngm-tap="nav('/form/settings')" data-icon="grid">Settings</a>
		    </li>
		  </ul>
		</div>
	</div>
</div>

<!-- Form Settings template -->
<div class="page ng-cloak" data-role="page" id="form_settings" ng-controller="formCtrl">
	<div data-role="header">
	  <a class="button-prev" href="/#!/home">Home</a>
	  <h1 class="title">Settings</h1>
	</div>

	<div class="content">
		<ul class="list">
		  <li>
		    Setting 1
		    <div class="toggle" ng-class="{active:settingOne}" ng-click="settingOne=!settingOne">
		      <div class="toggle-handle"></div>
		    </div>
		  </li>
		  <li>
		    Setting 2
		    <div class="toggle" ng-class="{active:settingTwo}" ng-click="settingTwo=!settingTwo">
		      <div class="toggle-handle"></div>
		    </div>
		  </li>
		</ul>
	</div>

	<div data-role="footer" data-id="formFooter" data-position="fixed">
		<div data-role="navbar">
		  <ul>
		    <li class="tab-item">
		      <a ngm-tap="nav('/form')" data-icon="grid" class="ui-btn-active">Profile</a>
		    </li>
		    <li class="tab-item">
		    	<a ngm-tap="nav('/form/settings')" data-icon="grid">Settings</a>
		    </li>
		  </ul>
		</div>
	</div>
</div>

<!-- List template -->
<div class="page ng-cloak" data-role="page" id="list" ng-controller="listCtrl" data-add-back-btn="true">
	<div data-role="header" class="status-bar">
	  <div class="status-header-yellow">{{settings.userType}}</div>
	  <h1 class="title">List View</h1>
	</div>

	<div class="content" >
		<ul data-role="listview">
			<li ng-repeat="dataItem in users.dataSet">
			    <a ngm-tap="selectRecord($index, dataItem.id)">
			      {{dataItem.firstname}} {{dataItem.lastname}}
			      <span class="chevron"></span>
			    </a>
		  	</li>
		</ul>
		
	</div>
</div>

<!-- List Detail template -->
<div class="page ng-cloak" data-role="page" id="list_detail" ng-controller="listCtrl" data-add-back-btn="true" ngm-pageshow="init()">
	<div data-role="header">
	  
	  <h1 class="title">Detail View</h1>
	</div>

	<div class="content" >
		<form>
		  <div class="input-group">
		    <div class="input-row">
		      <label>First name</label>
		      <input type="text" ng-model="users.dataSet[users.pointer].firstname" >
		    </div>
		    <div class="input-row">
		      <label>Last name</label>
		      <input type="text" ng-model="users.dataSet[users.pointer].lastname" >
		    </div>
		    <div class="input-row">
		      <label>Location</label>
		      <input type="text" ng-model="users.dataSet[users.pointer].location" >
		    </div>
		    <div class="input-row">
		      <label>Rate</label>
		      <input type="text" ng-model="users.dataSet[users.pointer].rate" >
		    </div>
		  </div>
		</form>
	</div>
</div>
		
		<!-- Load all the scripts -->
		<script type="text/javascript" src="lib/jquery-2.0.0b1.js"></script>
		<script type="text/javascript" src="lib/jquery-migrate-1.0.0.js"></script>
		<script type="text/javascript" src="lib/jquery.mobile-1.2.0.min.js"></script>
		<script type="text/javascript" src="lib/angular.js"></script>
		<script type="text/javascript" src="lib/jquery-mobile-angular-adapter-1.2.0.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/services/localStorage.js"></script>
		<script type="text/javascript" src="js/services/settings.js"></script>
		<script type="text/javascript" src="js/services/nav.js"></script>
		<script type="text/javascript" src="js/services/userList.js"></script>
		<script type="text/javascript" src="js/controllers/home.js"></script>
		<script type="text/javascript" src="js/controllers/info.js"></script>
		<script type="text/javascript" src="js/controllers/list.js"></script>
		<script type="text/javascript" src="js/controllers/form.js"></script>
	</body>
</html>