<!-- Form Settings template -->
<div class="page ng-cloak" data-role="page" id="form_settings" ng-controller="formCtrl">
	<div data-role="header">
	  <a class="button-prev" href="/#!/home">Home</a>
	  <h1 class="title">Settings</h1>
	</div>

	<div class="content">
		<ul class="list">
		  <li>
		    Setting 1
		    <div class="toggle" ng-class="{active:settingOne}" ng-click="settingOne=!settingOne">
		      <div class="toggle-handle"></div>
		    </div>
		  </li>
		  <li>
		    Setting 2
		    <div class="toggle" ng-class="{active:settingTwo}" ng-click="settingTwo=!settingTwo">
		      <div class="toggle-handle"></div>
		    </div>
		  </li>
		</ul>
	</div>

	<div data-role="footer" data-id="formFooter" data-position="fixed">
		<div data-role="navbar">
		  <ul>
		    <li class="tab-item">
		      <a ngm-tap="nav('/form')" data-icon="grid" class="ui-btn-active">Profile</a>
		    </li>
		    <li class="tab-item">
		    	<a ngm-tap="nav('/form/settings')" data-icon="grid">Settings</a>
		    </li>
		  </ul>
		</div>
	</div>
</div>