<div class="page" data-role="page" ng-controller="formCtrl">
		    	<div data-role="header">
				  <a class="button-prev" href="#/home">Home</a>
				  <h1 class="title">Settings</h1>
				</div>

				<div class="content">
					<ul class="list">
					  <li>
					    Setting 1
					    <div class="toggle" ng-class="{active:settingOne}" ng-click="settingOne=!settingOne">
					      <div class="toggle-handle"></div>
					    </div>
					  </li>
					  <li>
					    Setting 2
					    <div class="toggle" ng-class="{active:settingTwo}" ng-click="settingTwo=!settingTwo">
					      <div class="toggle-handle"></div>
					    </div>
					  </li>
					</ul>
				</div>

				<nav class="bar-tab">
				  <ul class="tab-inner">
				    <li class="tab-item">
				      <a href="#/form">
				        <img class="tab-icon" src="/images/icon-home.png">
				        <div class="tab-label">Profile</div>
				      </a>
				    </li>
				    <li class="tab-item active">
				      <a href="#/form/settings">
				        <img class="tab-icon" src="/images/icon-settings.png">
				        <div class="tab-label">Settings</div>
				      </a>
				    </li>
				  </ul>
				</nav>
		    </div>